<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Songs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="display-4 mt-4 mb-4">My Favourite Songs</h1>
        <nav class="navbar navbar-expand-sm bg-light mb-4">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/songs}" class="nav-link">The songs</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/newsong}" class="nav-link">Add new song</a>
                </li>
            </ul>
        </nav>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="song : ${songs}">
                    <td th:text="${song.id}"></td>
                    <td th:text="${song.title}"></td>
                    <td th:text="${song.artist}"></td>
                    <td th:text="${song.genre}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>